body {
	background-image : url("images/background.png") ;
	margin : 0 ;
}

header {
	height : 60px ;
	color : white ;
	font-size : 20px ; ;
	background-color : #192730 ;
	border-bottom : 2px solid #1b4159 ;
}

#id_joueur {
	float : left ;
	height : 100% ;
	line-height: 14px;
}

#id_joueur p {
	margin-left : 20px ;
}

#deco {
	float : right ;
	height : 100% ;
}

#deco p {
	margin-right : 20px ;
}

#jeu {
	margin-top : 5% ;
	text-align : center ;
	width : 30% ;
	margin-left : auto ;
	margin-right : auto ;
	color : white ;
}

#jeu h2 {
	font-variant : small-caps ;
	font-size : 3em ;
}

#jeu h3 {
	font-style : italic ;
	font-size : 2em ;
	
}

#resultats {
	width : 30% ;
	margin : auto ;
	border-radius: 5px;
	height : 365px ;
	padding-top : 20px ;
	color : white ;
	text-align : center ;
	line-height : 70px ;
	font-size : 18px ;
}

.joueurs {
	background-color : #192730 ;
	margin-bottom : 20px ;
	width : 90% ;
	margin-left : auto ;
	margin-right : auto ;
	height : 70px ;
	border-radius: 10px;
	border : 1px solid #1b4159 ;
}
