div label {
    color: lightgray;
    display:block;
    float:top;
}

h1 {
    text-align: center;
    color: #F07329;
    padding-top : 3% ;
}

#nom_partie {
  padding-top : 3% ;
}

#formulaire_calcul label {
  color : white ;
}

input[type=number] {
    border: 1px solid;
    border-radius: 2px;
    height: 20px;
}

.alert{
    width: 35%;
    margin: auto;
    text-align: center;
}

#score{
    color: #F07329;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#recap{
    color: #F07329;
    text-align: center;
    font-style: italic;
    opacity: 0.75;
}

hr{
    border-color: lightgray;
}

.indentation{
    text-indent: 20px;
}
